@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Kay+Pho+Du:wght@400;500;600;700&family=Source+Sans+3:ital,wght@0,400;0,500;1,400;1,500&family=Ubuntu:wght@300;400;500;700&display=swap');

body {
    font-family: "Kay Pho Du", serif;
    font-style: normal;
    font-size: 20px;
    margin: 0; 
    padding: 0; 
    background-color: #f0f0f0; 
    color: #333; 
}


header {
    background-color: #333; 
    color: #fff; 
    padding: 20px; 
    text-align: center;
}

nav ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0;
}

nav ul li:hover {
    background-color: #444343;
}

nav ul li {
    display: inline; 
    margin-right: 20px;
}

nav ul li a {
    color: #fff; 
    text-decoration: none;
}

#contact {
    margin-top: 20px;
    background-color: white;
    margin: 20px auto; 
    padding: 50px;
    max-width: 50vw;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

#contact h2 {
    margin-bottom: 10px;
}

#contact ul {
    margin-bottom: 20px;
    padding-left: 0;
    list-style-type: none;
}

#contact ul li {
    margin-bottom: 10px;
    font-size: 18px;
}

form {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    max-width: 50vw;
    margin: 0 auto;
}

form h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

form figure {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form select {
    padding: 10px 5px;
}

form textarea {
    height: 150px;
}

form input[type="checkbox"] {
    margin-right: 10px;
}

form input[type="submit"] {
    background-color: #505250;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}




footer {
    background-color: #333; 
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}
