@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Kay+Pho+Du:wght@400;500;600;700&family=Source+Sans+3:ital,wght@0,400;0,500;1,400;1,500&family=Ubuntu:wght@300;400;500;700&display=swap');


body {
    font-family: "Kay Pho Du", serif;
    font-style: normal;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #333;
    text-align: center;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff; 
    text-decoration: none;
}

nav ul li:hover {
    background-color: #444343;
}

main {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

main h2 {
    font-size: 40px;
    margin-bottom: 10px;
}
article {
    display: flex;
    padding: 20px;
    flex-direction: column;

}

.me{
    display: flex;
    flex-wrap: wrap;
}

p{
    width: 60%;
}

img {
    max-width: 300px;
    height: auto;
    padding: 30px; 
    padding-top: 0px;

}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
}

/* Para pantallas de tablet */
@media only screen and (max-width: 768px) {
    article{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 550px;
        align-items: center;
        padding: 10;
    }
    article img{
        padding: 0;
    }
    footer{
        display: flex;
        justify-content: center;
    }
    

  }
  @media only screen and (max-width: 1343px) {
    article p{
        width: 100%;
    }
    .me{
        display: flex;
        justify-content: center;

    }
    article{
        align-items: center;
    }
  }
  /* Para dispositivos móviles (celulares) */
  @media only screen and (max-width: 480px) {
    article{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 350px;
        align-items: first baseline;
        padding: 0;
    }
    article img{
        padding: 0;
    }
    article p{
        max-width: 300px;
    }
    article h3, article li{
        width: 250px;
    }
    .me{
        justify-content: left;
    }
    footer{
        display: flex;
        justify-content: center;
    }
    h1{
        font-size: 100%;
    }
    a{
        font-size: 80%;
    }
    
  }